.aboutMe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#aboutMe-container{
    display: flex;
    flex-direction: column;
}

#aboutMe-container h1{
    color: rgb(78, 16, 16);
    font-size: 3.5rem;
    margin: 20px 100px;
    transition: all 0.3s ease;
}

#aboutMe-container p{
    margin: 20px 100px;
    color: brown;
    transition: all 0.3s ease;
}

#aboutMe-lottie{
    margin: 30px 40px;
}



/* Media Queries */

@media only screen and (max-width: 426px){
    .aboutMe{
        flex-wrap: wrap;
    }

    #aboutMe-container h1{
        margin: 20px 30px;
    }
    
    #aboutMe-container p{
        margin: 20px 30px;
    }

    #aboutMe-lottie{
        margin-top: 15px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 769px){
    .aboutMe{
        flex-wrap: wrap;
    }

    #aboutMe-container h1{
        margin: 20px 70px;
    }
    
    #aboutMe-container p{
        margin: 20px 70px;
    }

    #aboutMe-lottie{
        margin-top: 15px;
    }
}



/* Dark Mode */

.aboutMe.dark #aboutMe-container h1{
    color: burlywood;
}

.aboutMe.dark #aboutMe-container p{
    color: blanchedalmond;
}



