.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mail-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container h1{
    color: rgb(95, 23, 23);
    font-size: 3.5rem;
    margin: 20px 30px;
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease;
    text-align: center;
}

.form-boxes{
    display: flex;
    flex-direction: column;
    margin: 45px calc(10px + 50vh);
    padding: 2px calc(8px + 1.5625vh);
}

.form-labels{
    color: brown;
    font-size: 1rem;
    font-family: 'Baloo 2', cursive;
    margin: 3px 10px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.text-box{
    background-color: rgb(255, 232, 204);
    border-radius: 5px;
    margin: 3px 10px;
    margin-bottom: 10px;
    font-family: 'Baloo 2', cursive;
    padding: 4px;
    border: 1.6px solid grey;
    color: rgb(102, 21, 21);
    transition: all 0.3s ease;
}

.submitButton{
    border: 1.6px grey solid;
    width: fit-content;
    padding: 5px 14px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 224, 187);
    margin: 10px 10px;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    color: rgb(102, 21, 21);
}



/* Dark Mode */

.contact-container.dark h1{
    color: burlywood;
}

.contact-container.dark .form-labels{
    color: blanchedalmond;
}

.contact-container.dark .text-box{
    background-color: rgb(102, 21, 21);
    border-color: wheat;
    color: rgb(255, 244, 231);
}

.contact-container.dark .text-box::placeholder{
    color: wheat;
}

.contact-container.dark .submitButton{
    border-color: wheat;
    background-color: rgb(102, 21, 21);
    color: rgb(255, 224, 187);
}



/* Media Queries */

/* Mobiles */
@media only screen and (max-width: 319px){  
    .form-boxes{
        margin: 45px 1px;
        padding: 2px calc(8px + 1.5625vw);
    }
    #mail-box{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 319px) and (max-width: 426px){

}


@media only screen and (min-width: 319px) and (max-width: 426px){   
    .form-boxes{
        margin: 45px 1px;
        padding: 2px calc(8px + 1.5625vw);
    }
    #mail-box{
        flex-wrap: wrap;
    }
    
}

/* Tablet */
@media only screen and (min-width: 426px) and (max-width: 769px){    
    .form-boxes{
        margin: 45px calc(10px + 5vw);
        padding: 2px calc(8px + 1.5625vw);
    }
    #mail-box{
        flex-wrap: wrap;
    }
}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1025px){  
    .form-boxes{
        margin: 45px calc(15px + 7vw);
        padding: 2px calc(8px + 1.5625vw);
    }
}

/* Laptop L */
@media only screen and (min-width: 1025px) and (max-width: 1441px){    
    .form-boxes{
        margin: 45px calc(15px + 10vw);
        padding: 2px calc(8px + 1.5625vw);
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1921px){    
    .form-boxes{
        display: flex;
        flex-direction: column;
        margin: 45px calc(15px + 15vw);
        padding: 2px calc(8px + 1.5625vw);
    }
}

@media only screen and (min-width: 1921px) and (max-width: 2561px){    
    .form-boxes{
        display: flex;
        flex-direction: column;
        margin: 45px calc(15px + 17vw);
        padding: 2px calc(8px + 1.5625vw);
    }
}

@media only screen and (min-width: 2561px){    
    .form-boxes{
        display: flex;
        flex-direction: column;
        margin: 45px calc(15px + 20vw);
        padding: 2px calc(8px + 1.5625vw);
    }
}