.menuWrap{
    position: fixed;
    bottom: 87px;
    left: 30px;
    background-color: rgb(255, 224, 187);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.menuWrap .listWrap{
    position: absolute;
    bottom: 40px;
    left: -30px;
}

.menuWrap .menuIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 17px;
    position: relative;
}


.menuIcon.active > .line:nth-child(1),.menuIcon.active > .line:nth-child(3){
    opacity: 0;
}


.menuIcon .cross{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menuIcon.active .cross .line:nth-child(1){
    transform: translate(-50%,-50%) rotate(45deg);
}
.menuIcon.active .cross .line:nth-child(2){
    transform: translate(-50%,-50%) rotate(-45deg);
}
.menuIcon .cross .line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
}

.menuIcon  .line{
    width: 20px;
    height: 2.3px;
    border-radius: 20px;
    transition: all 0.2s ease, background-color 0.3s ease;
    background-color: rgb(102, 21, 21);
}

.menuWrap .listWrap{
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateX(-100%);

}

.menuIcon.active ~ .listWrap{
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
    visibility: visible;
}

.menuWrap .listWrap ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuWrap .listWrap li{
    white-space: nowrap;
    background-color: rgb(255, 224, 187);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
    text-align: left;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.menuWrap .listWrap li a {
    color: rgb(102, 21, 21);
    text-decoration: none;
    transition: all 0.3s ease;
}


/* Dark Mode */


.menuWrap.dark{
    background-color: rgb(102, 21, 21);
    box-shadow: 0 1px 15px rgba(245, 222, 179, 0.5);

}

.menuWrap.dark .line{
    background-color: rgb(255, 224, 187);
}

.menuWrap.dark .listWrap li{
    background-color: rgb(102, 21, 21);
    box-shadow: 0 1px 15px rgba(245, 222, 179, 0.5);
}

.menuWrap.dark .listWrap li a {
    color: rgb(255, 224, 187);
}