.toggleBase {
    height: 27px;
    width: 50px;
    border-radius: 20px;
    background-color: rgb(49, 13, 13);
    display: flex;
    align-items: center;
    margin: 0px 5px;
    padding: 0px 3px;
    transition: all 0.3s ease;
}

.toggleSwitch {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(255, 224, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0%);
    transition: all 0.3s ease;
}

.toggleSwitch.icons {
    position: absolute;
}

.toggleSwitch #sun {
    color: rgb(49, 13, 13);
    transition: all 0.3s ease;
}

.toggleSwitch #moon {
    display: none;
    transition: all 0.3s ease;
}



/* Dark Mode */

.toggleBase.dark {
    background-color: rgb(255, 224, 187);
}

.toggleSwitch.dark {
    background-color: rgb(49, 13, 13);
    transform: translateX(125%);
}

.toggleSwitch.dark #sun {
    display: none;
}

.toggleSwitch.dark #moon {
    display: initial;
    color: rgb(255, 224, 187);
}